{% extends 'header.html' %}
{% load static %}

{% block title %}
    Registration
{% endblock %}

{% block banner %}
    <div id="titlebar" class="single">
        <div class="container">

            <div class="sixteen columns">
                <h2>{{ title }}</h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li>You are here:</li>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li>{{ title }}</li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">

        <div class="my-account">
            <a href="{% url 'seeker_registration' %}?next={{ request.GET.next}}" class="button"  style="width: 100px" align="center">Seeker</a>
            <a href="{% url 'employer_registration' %}?next={{ request.GET.next}}" class="button" style="width: 100px" align="center">Employer</a>
        </div>
    </div>
{% endblock %}