{% extends 'base.html' %}
{% load static %}

{% block header %}

<header>
<div class="container">
	<div class="sixteen columns">

		<!-- Logo -->
		<div id="logo">
			<h1><a href="{% url 'home' %}"><img src="{% static "images/logo.png"%}" alt="Work Scout" /></a></h1>
		</div>

		<!-- Menu -->
		<nav id="navigation" class="menu">



			<ul class="responsive float-right">
                {% if request.user.is_authenticated %}
                    <li><a href="{% url 'logout' %}?next={% url 'home' %}"><i class="fa fa-lock"></i> Log Out</a></li>
                    <li><a href="{% url 'profile' %}"><i class="fa fa-user"></i> Profile</a></li>
                {% else %}
                    <li><a href="{% url 'registration' %}?next={% url 'home' %}"><i class="fa fa-user"></i> Sign Up</a></li>
				    <li><a href="{% url 'login' %}?next={% url 'home' %}"><i class="fa fa-lock"></i> Log In</a></li>
                {% endif %}

			</ul>

		</nav>

		<!-- Navigation -->
		<div id="mobile-navigation">
			<a href="#menu" class="menu-trigger"><i class="fa fa-reorder"></i> Menu</a>
		</div>

	</div>
</div>
</header>
<div class="clearfix"></div>

{% endblock %}