{% extends 'header.html' %}
{% load static %}

{% block title %}
Job Page
{% endblock %}

{% block content %}
<div id="wrapper">


<!-- Titlebar
================================================== -->
<div id="titlebar" class="resume">
	<div class="container">
		<div class="ten columns">
			<div class="resume-titlebar">
				<img src="{% static "images/resumes-list-avatar-02.png" %}" alt="">
				<div class="resumes-list-content">
					<h4>{{cv.seeker.name}} {{cv.seeker.surname}} <span>{{cv.preferable_job}}</span></h4>
					<span class="icons"><i class="fa fa-map-marker"></i> {{cv.location}}</span>
					<span class="icons"><i class="fa fa-money"></i> {{cv.salary}}</span>
					<span class="icons"><a href="#"><i class="fa fa-link"></i> Website</a></span>
					<span class="icons"><a href="mailto:john.doe@example.com"><i class="fa fa-envelope"></i> john.doe@example.com</a></span>
					<div class="skills">
						<span>JavaScript</span>
						<span>PHP</span>
						<span>WordPress</span>
					</div>
					<div class="clearfix"></div>

				</div>
			</div>
		</div>

		<div class="six columns">
			<div class="two-buttons">

				<a href="#small-dialog" class="popup-with-zoom-anim button"><i class="fa fa-envelope"></i> Send Message</a>

				<div id="small-dialog" class="zoom-anim-dialog mfp-hide apply-popup">
					<div class="small-dialog-headline">
						<h2>Send message</h2>
					</div>

					<div class="small-dialog-content">
						<form action="{{ cv.id }}\send" method="post" >
                            {% csrf_token %}
                            <div class="upload-info"><strong>Write a message</strong>
                                <textarea placeholder="Hello world!"></textarea></div>


                     <div class="widget">
                     <ul class="checkboxes">
                    {% if offers %}
                        <div class="upload-info"><strong>Choose offer to suggest</strong>
                        {%  for offer in offers %}
                             <li>
						<input id="offer{{ offer.id }}" type="checkbox" name="offer_id" value="{{ offer.id }}">
                        <label for="offer{{ offer.id }}">{{ offer.name }} </label>
                             </li>

                        {% endfor %}
                            {% else %}
                            <li><a href={% url 'home' %}>You haven`t got any offer`s</a></li>
                     {% endif %}
                     </ul>
                     </div>



							<div class="divider"></div>
                            {% if offers %}
							<button class="send">Send Application</button>
                            {% else %}
                                <a href="{% url 'profile' %}" class="send">Return to profile</a>
                            {% endif %}
						</form>
					</div>

				</div>


			</div>
		</div>

	</div>
</div>


<!-- Content
================================================== -->
<div class="container">
	<p>Download CV: </p>
	<a href="{{pk.cv_file}}" download="{{pk.cv_file}}">
    <button>Download</button>
  </a>

<!--  <script>-->
<!--    function downloadFile() {-->
<!--      // Create a dummy anchor element-->
<!--      var link = document.createElement('a');-->
<!--      link.href = 'path/to/your/file.ext'; // Replace with the actual path to your file-->
<!--      link.download = 'file.ext'; // Replace with the desired file name-->

<!--      // Programmatically trigger the click event on the anchor element-->
<!--      if (document.createEvent) {-->
<!--        var event = document.createEvent('MouseEvents');-->
<!--        event.initEvent('click', true, true);-->
<!--        link.dispatchEvent(event);-->
<!--      } else {-->
<!--        link.click();-->
<!--      }-->
<!--    }-->
<!--  </script>-->


<!--	&lt;!&ndash; Recent Jobs &ndash;&gt;-->
<!--	<div class="eight columns">-->
<!--	<div class="padding-right">-->

<!--		<h3 class="margin-bottom-15">About Me</h3>-->

<!--		<p class="margin-reset">-->
<!--			The Food Service Specialist ensures outstanding customer service is provided to food customers and that all food offerings meet the required stock levels and presentation standards. Beginning your career as a Food Steward will give you a strong foundation in Speedway’s food segment that can make you a vital member of the front line team!-->
<!--		</p>-->

<!--		<br>-->

<!--		<p>The <strong>Food Service Specialist</strong> will have responsibilities that include:</p>-->

<!--		<ul class="list-1">-->
<!--			<li>Excellent customer service skills, communication skills, and a happy, smiling attitude are essential.</li>-->
<!--			<li>Must be available to work required shifts including weekends, evenings and holidays.</li>-->
<!--			<li>Must be able to perform repeated bending, standing and reaching.</li>-->
<!--			<li>Must be able to occasionally lift up to 50 pounds</li>-->
<!--		</ul>-->

<!--	</div>-->
<!--	</div>-->


<!--	&lt;!&ndash; Widgets &ndash;&gt;-->
<!--	<div class="eight columns">-->

<!--		<h3 class="margin-bottom-20">Education</h3>-->

<!--		&lt;!&ndash; Resume Table &ndash;&gt;-->
<!--		<dl class="resume-table">-->
<!--			<dt>-->
<!--				<small class="date">2012 - 2015</small>-->
<!--				<strong>Bsc Computing at College of West Anglia</strong>-->
<!--			</dt>-->
<!--			<dd>-->
<!--				<p>Captain, why are we out here chasing comets? Maybe we better talk out here; the observation lounge has turned into a swamp. Ensign Babyface!</p>-->
<!--			</dd>-->


<!--			<dt>-->
<!--				<small class="date">2006 - 2010</small>-->
<!--				<strong>GCSE something at King Edward 7th</strong>-->
<!--			</dt>-->
<!--			<dd>-->
<!--				<p>Captain, why are we out here chasing comets? Maybe we better talk out here; the observation lounge has turned into a swamp. Ensign Babyface!</p>-->
<!--			</dd>-->


<!--			<dt>-->
<!--				<small class="date">2004 - 2006</small>-->
<!--				<strong>Test 2 at Test</strong>-->
<!--			</dt>-->
<!--			<dd>-->
<!--				<p>Phasellus vestibulum metus orci, ut facilisis dolor interdum eget. Pellentesque magna sem, hendrerit nec elit sit amet, ornare efficitur est.</p>-->
<!--			</dd>-->

<!--		</dl>-->

<!--	</div>-->

</div>




<!-- Back To Top Button -->
<div id="backtotop"><a href="#"></a></div>

</div>
{% endblock %}