{% extends 'header.html' %}
{% load static %}
{% load main_extras %}

{% block content %}

    <!-- Offer info -->
    <div id="titlebar" class="single">
        <div class="container">
            <div class="sixteen columns">
                <h2>Manage Offers</h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li>You are here:</li>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li>Manage Offers</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="sixteen columns">
            {% if offers %}
                <table class="manage-table resumes responsive-table">
                    <tr>
                        <th><i class="fa fa-user"></i> Name</th>
                        <th><i class="fa fa-user"></i> Job</th>
                        <th><i class="fa fa-user"></i> Location</th>
                        <th><i class="fa fa-map-marker"></i> Type of employment</th>
                        <th><i class="fa fa-calendar"></i> Type of remoteness</th>
                        <th></th>
                    </tr>

                    {% for offer in offers %}
                        <tr>
                            <td class="title">{{ offer.name }}</td>
                            <td>{{ offer.job }}</td>
                            <td>{{ offer.location }}</td>
                            <td>{% if offer.is_part_time %}Part time{% if offer.is_full_time %}<br>Full
                                Time{% endif %}{% elif offer.is_full_time %}Full Time{% endif %}</td>
                            <td>{% if offer.is_remotable %}Remote{% if offer.is_remotable %}<br>In
                                office{% endif %}{% elif offer.is_remotable %}In office{% endif %}</td>
                            <td class="action">
                                <a href="{% url 'offer_detail' pk=offer.id %}?response_id={{ offer|get_response:cv }}">
                                    <i class="fa  fa-eye"></i> Open</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

            {% else %}
                <p>You didn't hav cv response</p>
            {% endif %}
        </div>
    </div>
    <div class="margin-top-60"></div>


{% endblock %}