{% extends 'header.html' %}
{% load static %}

{% block content %}
 <!-- Profile info -->
    <div id="titlebar" class="single">
        <div class="container">
            <div class="sixteen columns">
                <h2>Profile</h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li>You are here:</li>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li>Profile</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="sixteen columns">
            <p><strong>Company Name: </strong>{{ employer.name }}</p>
            <a href="{% url 'password_change' %}?next={% url 'profile' %}" class="button">Change Password</a>
            <a href="{% url 'profile_update' %}?next={% url 'profile' %}" class="button">Update Profile</a>
        </div>
    </div>
    <div class="margin-top-60"></div>


    <!-- Offer info -->
    <div id="titlebar" class="single">
        <div class="container">
            <div class="sixteen columns">
                <h2>Manage Offers</h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li>You are here:</li>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li>Manage Offers</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="sixteen columns">
            {% if offers %}
                <table class="manage-table resumes responsive-table">
                    <tr>
                        <th><i class="fa fa-user"></i> Name</th>
                        <th><i class="fa fa-user"></i> Job</th>
                        <th><i class="fa fa-user"></i> Location</th>
                        <th><i class="fa fa-calendar"></i> Offers</th>
                        <th></th>
                    </tr>

                    {% for offer in offers %}
                        <tr>
                            <td class="title">{{ offer.name }}</td>
                            <td>{{ offer.job }}</td>
                            <td>{{ offer.location }}</td>
                            <td>{% if offer.cv.count %}
                                <a href="" class="button">Show ({{ offer.cv.count }})</a>{% else %}-{% endif %}</td>
                            <td class="action">
                                <a href="{% url 'offer_update' pk=offer.id %}"><i class="fa fa-pencil"></i> Edit</a>
                                <a href="{% url 'offer_detail' pk=offer.id %}"><i class="fa  fa-eye-slash"></i> Open</a>
                                <a href="{% url 'offer_delete' pk=offer.id %}" class="delete"><i class="fa fa-remove"></i> Delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

            {% else %}
                <p>You didn't hav offer yet</p>
            {% endif %}
            <br>
            <a class="button" href="{% url 'offer_create' %}">Add offer</a>
        </div>
    </div>
    <div class="margin-top-60"></div>


{% endblock %}