{% extends 'header.html' %}
{% load static %}

{% block title %}
Main page
{% endblock %}

{% block banner %}
<!-- Banner
================================================== -->
<div id="banner" style="background: url({% static "images/banner-home-01.jpg" %})">
	<div class="container">
		<div class="sixteen columns">

			<form action="dashboard/{{ find_url }}"bmethod="get" class="search-container">

				<!-- Form -->

				<h2>Find {% if is_employer %}seeker{% else %}job{% endif %}</h2>
				<input type="text" class="ico-01" placeholder="job title, keywords or company name" value="" name="name"/>
				<input type="text" class="ico-02" placeholder="city, province or region" value="" name="location"/>
				<button><i class="fa fa-search"></i></button>

								<!-- Announce -->


			</form>

		</div>
	</div>
</div>
{% endblock %}

{% block content %}
<!-- Content
================================================== -->
<div id="categories">
	<!-- Categories Group -->
	<div class="categories-group">
		<div class="container">
			<div class="four columns"><h4>Web, Software & IT</h4></div>
			<div class="four columns">
				<ul>
					<li><a href="dashboard/{{ find_url }}?name=PHP">PHP</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Android">Android</a></li>
					<li><a href="dashboard/{{ find_url }}?name=WordPress">WordPress</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Design">Design</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Developer">Developer</a></li>
					<li><a href="dashboard/{{ find_url }}?name=iOS">iOS</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Mobile">Mobile</a></li>
				</ul>
			</div>
			<div class="four columns">
				<ul>
					<li><a href="dashboard/{{ find_url }}?name=MySQL">MySQL</a></li>
					<li><a href="dashboard/{{ find_url }}?name=JavaScript">JavaScript</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Software">Software</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Website Design">Website Design</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Programming">Programming</a></li>
					<li><a href="dashboard/{{ find_url }}?name=SEO">SEO</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Java">Java</a></li>
				</ul>
			</div>
			<div class="four columns">
				<ul>
					<li><a href="dashboard/{{ find_url }}?name=CSS">CSS</a></li>
					<li><a href="dashboard/{{ find_url }}?name=HTML5">HTML5</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Web Development">Web Development</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Web Design">Web Design</a></li>
					<li><a href="dashboard/{{ find_url }}?name=eCommerce">eCommerce</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Categories Group -->
	<div class="categories-group">
		<div class="container">
			<div class="four columns"><h4>Design, Art & Multimedia</h4></div>
			<div class="four columns">
				<ul>
					<li><a href="dashboard/{{ find_url }}?name=Design">Design</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Logo Design">Logo Design</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Graphic Design">Graphic Design</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Video">Video</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Animation">Animation</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Adobe Photoshop">Adobe Photoshop</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Illustration">Illustration</a></li>
				</ul>
			</div>
			<div class="four columns">
				<ul>
					<li><a href="dashboard/{{ find_url }}?name=Art">Art</a></li>
					<li><a href="dashboard/{{ find_url }}?name=3D">3D</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Adobe Illustrator">Adobe Illustrator</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Drawing">Drawing</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Web Design">Web Design</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Cartoon">Cartoon</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Graphics">Graphics</a></li>
				</ul>
			</div>
			<div class="four columns">
				<ul>
					<li><a href="dashboard/{{ find_url }}?name=Fashion Design">Fashion Design</a></li>
					<li><a href="dashboard/{{ find_url }}?name=WordPress">WordPress</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Editing">Editing</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Writing">Writing</a></li>
					<li><a href="dashboard/{{ find_url }}?name=T-Shirt Design">T-Shirt Design</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Categories Group -->
	<div class="categories-group">
		<div class="container">
			<div class="four columns"><h4>Sales & Marketing</h4></div>
			<div class="four columns">
				<ul>
					<li><a href="dashboard/{{ find_url }}?name=Display Advertising">Display Advertising</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Email Marketing">Email Marketing</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Lead Generation">Lead Generation</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Market+%26+Customer+Research">Market & Customer Research</a></li>
				</ul>
			</div>
			<div class="four columns">
				<ul>
					<li><a href="dashboard/{{ find_url }}?name=Marketing Strategy">Marketing Strategy</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Public Relations">Public Relations</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Telemarketing & Telesales">Telemarketing & Telesales</a></li>
					<li><a href="dashboard/{{ find_url }}?name=Other - Sales & Marketing">Other - Sales & Marketing</a></li>
				</ul>
			</div>
			<div class="four columns">
				<ul>
					<li><a href="dashboard/{{ find_url }}?name=SEM">SEM - Search Engine Marketing</a></li>
					<li><a href="dashboard/{{ find_url }}?name=SEO">SEO - Search Engine Optimization</a></li>
					<li><a href="dashboard/{{ find_url }}?name=SMM">SMM - Social Media Marketing</a></li>
				</ul>
			</div>
		</div>
	</div>

</div>

<div class="divider-line"></div>
<div class="margin-top-50"></div>
{% if not is_employee %}
<!-- Recent Works -->
<div class="container">

	<!-- Recent Jobs -->
	<div class="eleven columns">
	<div class="padding-right">
		<h3 class="margin-bottom-25">Recent Jobs</h3>
		<ul class="job-list">


            {% for rc in recent %}
                <li><a href="dashboard/offer/{{ rc.id }}">
				<img src="{% static "images/job-list-logo-01.png" %}" alt="">
				<div class="job-list-content">
					<h4>{{ rc.name }} {% if rc.is_full_time %} <span class="full-time">Full-Time</span>{% endif %}{% if rc.is_part_time %} <span class="part-time">Part-Time</span>{% endif %}</h4>
					<div class="job-icons">
						<span><i class="fa fa-map-marker"></i> {{ rc.location }}</span>
						<span><i class="fa fa-money"></i> ${{ rc.salary_min }}-{{ rc.salary_max }}</span>
					</div>
				</div>
				</a>
				<div class="clearfix"></div>
			</li>
            {% endfor %}
		</ul>

		<a href="dashboard/offer" class="button centered"><i class="fa fa-plus-circle"></i> Show More Jobs</a>
		<div class="margin-bottom-55"></div>
	</div>
	</div>
</div>
    {% endif %}



{% endblock %}