{% extends 'header.html' %}
{% load static %}
{% load main_extras %}

{% block content %}

    <!-- CV info -->
    <div id="titlebar" class="single">
        <div class="container">
            <div class="sixteen columns">
                <h2>Manage resumes</h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li>You are here:</li>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li>Manage resumes</li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="sixteen columns">
            {% if cvs %}
                <table class="manage-table resumes responsive-table">
                    <tr>
                        <th><i class="fa fa-user"></i> Job</th>
                        <th><i class="fa fa-file-text"></i> Salary</th>
                        <th><i class="fa fa-map-marker"></i> Experience</th>
                        <th><i class="fa fa-map-marker"></i> Type of employment</th>
                        <th><i class="fa fa-calendar"></i> Type of remoteness</th>
                        <th><i class="fa fa-user"></i> Location</th>
                        <th><i class="fa fa-calendar"></i> CV file</th>
                        <th></th>
                    </tr>

                    {% for cv in cvs %}
                        <tr>
                            <td class="title">{{ cv.preferable_job }}</td>
                            <td>{{ cv.salary }}</td>
                            <td>{{ cv.experience }}</td>
                            <td>{% if cv.is_part_time %}Part time{% if cv.is_full_time %}<br>Full
                                Time{% endif %}{% elif cv.is_full_time %}Full Time{% endif %}</td>
                            <td>{% if cv.is_remotable %}Remote{% if cv.is_in_office %}<br>In
                                office{% endif %}{% elif cv.is_in_office %}In office{% endif %}</td>
                            <td>{{ cv.location }}</td>
                            <td><a href="{{ cv.cv_file.url }}">{{ cv.cv_file_name }}</a></td>

                            <td class="action">
                                <a href="{% url 'cv_detail' pk=cv.id %}?response_id={{ cv|get_response:offer }}"><i
                                        class="fa  fa-eye"></i> Open</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>

            {% endif %}

        </div>
    </div>
    <div class="margin-top-60"></div>



{% endblock %}