{% extends 'header.html' %}
{% load static %}

{% block title %}
Profile
{% endblock %}

{% block banner %}
    <div id="titlebar" class="single">
        <div class="container">

            <div class="sixteen columns">
                <h2>Profile</h2>
                <nav id="breadcrumbs">
                    <ul>
                        <li>You are here:</li>
                        <li><a href="{% url 'home' %}">Home</a></li>
                        <li>Profile</li>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% block obj_profile %}
        {% endblock %}
        <a href="{% url 'password_change' %}?next={% url 'profile' %}" class="button">Change Password</a>
        <a href="{% url 'profile_update' %}?next={% url 'profile' %}" class="button">Update Profile</a>
    </div>
    <div class="margin-top-60"></div>
{% endblock %}